source https://nuget.org/api/v2

#https://github.com/haf/expecto#installing
nuget Expecto
nuget Expecto.BenchmarkDotNet
nuget Expecto.FsCheck
nuget Expecto.Hopac

# https://github.com/haf/expecto#prettify-stacktracesship-test-logs
nuget Logary.Adapters.Facade prerelease
